.ipynb_checkpoints/test-checkpoint.ipynb
yikes.yikes
.ipynb_checkpoints/2020-04-24_19-19-checkpoint.png
.ipynb_checkpoints/.ipynb_checkpoints/.ipynb_checkpoints/2020-04-24_19-19-checkpoint-checkpoint-checkpoint.png
